@model SW.ExternalWeb.Models.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage Your Profile Settings";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @Html.Partial("_ContactInformation")
    </div>
    @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @Html.Partial("_LoginInformation")
    </div>*@
</div>
