
@{
    ViewData["Title"] = "Tests ";
}

<ul>
    <li><a asp-action="Identity">Identity</a></li>
    <li><a asp-action="Login">Login</a></li>
    <li><a asp-action="Address">Address</a></li>
</ul>

<p><a asp-action="Index" asp-controller="Home">Back</a></p>
