@{
    ViewBag.Title = "Email Confirmation Link";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="row form-group">
            <div class="col-xs-12">
                <h2>Email Confirmation Link</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                Please check your email and confirm your email address.
            </div>
        </div>
    </div>
</div>