@model SW.ExternalWeb.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your Password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <div class="row form-group">
                <div class="col-xs-12">
                    <h2>Forgot your password?</h2>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.Email, new { @class = "content-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Email Link" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
            <div id="forgotpasswordImage"></div>
        </div>
    </div>
}
