@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="row form-group">
            <div class="col-xs-12">
                <h2>Forgot Password Confirmation</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                Please check your email to reset your password.
            </div>
        </div>
    </div>
</div>