@{
    ViewBag.Title = "Reset Password Confirmation";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="row form-group">
            <div class="col-xs-12">
                <h2>Reset password confirmation</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    </div>
</div>