<div class="footerBgFull"></div>
<div class="subFooterBgFull"></div>
<div class="arrow-down"></div>
<div id="mainFooter" class="row">
    <div class="col-quarter outer-left logoColumn">
        <a href="/"><div class="footerLogo"></div></a>
        <p>Shawnee County is the third largest county in the state of Kansas and is the home of the capital city, Topeka. Learn more about Shawnee County in the <a href="http://www.snco.us/visitinfo/">Visitor’s Center</a>. Find out about <a href="http://www.snco.us/county/local_sites.asp">local attractions, institutions and more</a>.</p>
    </div>
    <div class="col-quarter inner footerContact">
        <h4>Highlights</h4>
        <ul class="footerAbout">
            <li><a href="http://www.snco.us/da/">District Attorney</a></li>
            <li><a title="Joint Economic Development Organization" href="http://www.snco.us/jedo/">Joint Economic Dev <abbr title="organization">Org</abbr> (JEDO)</a></li>
            <li><a href="http://www.snco.us/floodplain/">Floodplain Management</a></li>
            <li><a href="http://www.snco.us/county/holiday_schedule.asp">Holiday Schedule</a></li>
        </ul>
        <h4>Get in Touch…</h4>
        <ul class="footerContacts">
            <li class="footerPhone">Sales : 785.233.4774</li>
            <li class="footerPhone">IT Support : 785.251.4535</li>
            <li class="footerMail"><a href="mailto:webmaster@snco.us">webmaster@snco.us</a></li>
            <li class="footerAddress">1515 NW Saline · Suite 150 · Topeka 66618</li>
        </ul>
    </div>
    <div class="col-quarter inner footerFrequent">
        <h4>Frequently Visited</h4>
        <ul class="footerAbout">
            <li><a href="https://ares.sncoapps.us/">Real Estate Search</a></li>
            <li><a href="http://www.snco.us/treasurer/motor_vehicle_registration.asp">Motor Vehicle Taxes &amp; Registration</a></li>
            <li><a href="http://www.shawneesheriff.org">Sheriff’s Office</a></li>
            <li><a href="http://parks.snco.us/">Parks and Recreation</a></li>
            <li><a href="http://www.shawneehealth.org/">Health Agency</a></li>
        </ul>

        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <div class="col-quarter outer-right footerNon">
        <h4>Non-County Services & Sites</h4>
        <ul class="footerAbout">
                <li><a href="http://www.snco.us?flood" title="Flood Map Modernization Effort">Flood Map Modernization Effort</a></li>
                <li><a href="http://www.scprfoundation.org/" title="Shawnee County Parks &amp; Recreation Foundation">Parks &amp; Recreation Foundation</a> </li>
                <li><a href="http://www.kdhe.state.ks.us/vital/index.html" title="Kansas &amp; County Vital Statistics links - Birth &amp; Death Certificates, Marriage Licenses &amp; Divorce Decrees.">Vital Records Information</a></li>
                <li><a href="https://mvs.dmv.kdor.ks.gov/VehiclePropertyTaxLookup/" title="Kansas Motor Vehicle Property Tax Information System: calculate taxes for a vehicle.">Motor Vehicle Property Tax System</a></li>
                <li><a href="http://www.shawneecourt.org" title="Shawnee County District Court">Shawnee County District Court</a></li>
            </ul>
            <form action="/county/search.asp" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="002805293366787106831:14eiiie6xua">
                    <input type="hidden" name="cof" value="FORID:11">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="text" name="q" size="31" style="border: 1px solid rgb(126, 157, 185); padding: 2px; background: url(&quot;https://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) 0% 50% no-repeat rgb(255, 255, 255);">
                    <input type="submit" name="sa" class="btn btn-xs btn-default" value=" Search ">
                </div>
                <input name="siteurl" type="hidden" value="www.snco.us/ap/#bottom"><input name="ref" type="hidden" value="www.snco.us/"><input name="ss" type="hidden" value="">
            </form>
            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </div>
</div>
<div id="subFooter" class="row">
    <div id="copyrightNotice">
        <ul class="footerMenu copyright">
            <li><a title="Legal Disclaimer and Explanation of Site’s Purpose" href="http://www.snco.us/county/disclaimer.asp">Legal Disclaimer</a></li>
            <li><a title="Information about Usability and Section 508 Compliance, etc." href="http://www.snco.us/county/section_508.asp">Accessibility Statement</a></li>
        </ul>
    </div>
    <ul class="footerMenu">
        <li><a href="http://www.snco.us/county/services.asp">Online Services</a></li>
        <li><a href="http://www.snco.us/county/departments.asp">County Departments</a></li>
        <li><a href="http://www.snco.us/county/local_sites.asp">Local Attractions</a></li>
        <li><a href="http://www.snco.us/county/current_events.asp">Current Events</a></li>
        <li><a href="http://www.snco.us/county/media_releases.asp">Media Releases</a></li>
    </ul>
</div>