
<a href="#"><div id="logo"></div></a>
<div id="site-nav-menu">
    <ul>
        <li>
            <a class="current" href="http://www.snco.us/sw/">
                Solid Waste
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="http://www.snco.us/">
                County Home
                <span>County Systems & Info</span>
            </a>
        </li>
        <li>
            <a href="http://www.snco.us/county/services.asp">
                Services
            </a>
        </li>
        <li>
            <a href="http://www.snco.us/county/departments.asp">
                Departments
                <span>Offices/Agencies</span>
            </a>
        </li>
    </ul>
</div>
<div id="site-nav-dropdown">
    <form action="#" method="post" style="display: inline-block;">
        <select>
            <option>Navigation</option>
            <option value="./">Solid Waste Home</option>
        </select>
    </form>
</div>
<span id="site-nav-shadow"></span>