<noscript>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-ban-circle"></i><strong>Warning: Your browser has disabled javascript. This site cannot function properly without javascript. Please enable it.</strong>                
            </div>
        </div>
    </div>
</noscript>