@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">There was a system error, please contact IT support at (785) 251-4535</h1>
    @*<h2 class="text-error">@Model.Exception</h2>*@
</hgroup>
