@model SW.InternalWeb.Models.Notify.DetailViewModel
@{
    ViewBag.ATitle = "Notification Detail";
}

<div class="row">
    <div class="col-md-12">
        <partial name="_Detail" />
    </div>
</div>
